.App {
  font-family:'Times New Roman', Times, serif;
  background-color: #F4EFF2;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.question {
  width: 500px;
  color: #EF55AA;
  text-align: center;
  font-size: 70px;
  font-weight: 500;
  line-height: 85px;
  font-family: 'WindSong', cursive;
  margin: 0px;
}
.buttons {
  display: flex;
  align-items: flex-start;
  gap: 30px;
}
.button {
  cursor: pointer;
  width: 230px;
  height: 75px;
  border-radius: 300px;
  border: 3px solid #F4EFF2;
  background: #EF55AA;
  color: #F4EFF2;
  text-align: center;
  font-family: Times New Roman;
  font-size: 35px;
}
.button:hover {
  border: 3px solid #EF55AA;
  background: #F8EDF3;
  color: #EF55AA;
}
.moving-button {
  cursor: pointer;
  width: 230px;
  height: 75px;
  border-radius: 300px;
  border: 3px solid #F4EFF2;
  background: #EF55AA;
  color: #F4EFF2;
  text-align: center;
  font-family: Times New Roman;
  font-size: 35px;
  transition: transform 0.75s ease-in-out;
}
.moving-button:hover {
  border: 3px solid #EF55AA;
  background: #F8EDF3;
  color: #EF55AA;
}
.definition {
  width: 500px;
  color: #843554;
  font-size: 18px;
}
.def{
  margin: 5px;
}
i {
  font-size: 14px;
}